<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services and Tasks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Services and Tasks</h1>
    <h2>thsi is a long text to check if the size of this has any influence on the size of the rest</h2>
    <div class="row" id="services-container">

    </div>

    <div class="modal" id="editIdStringModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="editForm" method="post" action="/services/edit-service/test">
                        <input type="hidden" id="idField" name="id">
                        <div class="form-group">
                            <label for="valueField">Name:</label>
                            <input type="text" class="form-control" id="valueField" name="value" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" id="add-service">Add Service</button>
    <div style="flex-direction: row; display: flex" class="container">
        <button class="btn btn-primary" id="update-button">Update Progress</button>
        <div id="last-update-element" data-timestamp="0">hi</div>
        <input type="checkbox" id="auto-update-toggle" checked>
        <label for="auto-update-toggle">Enable Auto Update</label>
    </div>
</div>

<script>

    function openEditServiceModal(serviceId, serviceName) {
        setAutoUpdateActive(false);
        $('#idField').val(serviceId);
        $('#valueField').val(serviceName);
        $('#valueField').name = "Name";
        $('#editForm').attr("action", "/services/edit-service/");
        $('#editIdStringModal').modal('show');
        console.log('Edit Service ID: ' + serviceId);
    }

    function openEditTaskModal(taskId, taskName) {
        setAutoUpdateActive(false);
        $('#idField').val(taskId);
        $('#valueField').val(taskName);
        $('#valueField').name = "Description";
        $('#editForm').attr("action", "/services/edit-task/");
        $('#editIdStringModal').modal('show');
        console.log('Edit Task ID: ' + taskId);
    }

    function add_service() {
        $.ajax({
            type: "POST",
            url: "/services/add/",
            success: function (data) {
                console.log('success');
                updateProgress();
            },
            error: function (error) {
                console.error("Error updating progress:", error);
            }
        });
    }

    function update_task_progress(service_id, task_id) {
        console.log('updating task: ' + service_id + ' ' + task_id);
        // $.post('/update_progress', {
        $.ajax({
            type: "POST",
            url: "/services/" + service_id + "/increment-progress/" + task_id,
            success: function (data) {
                console.log('success updating', data);
                updateProgress();
            },
            error: function (error) {
                console.error("Error updating progress:", error);
                // Handle the error appropriately (e.g., display an error message)
            }
        });
    }

    function updateProgress() {
        $.get("/services/update_progress", function (data) {
            $("#services-container").html(data);
            updateLastUpdateTime();
        });
    }

    function updateLastUpdateTime() {
        let lastUpdateElement = $("#last-update-element");
        lastUpdateElement.text("Last updated " + new Date().toLocaleString('de-DE'));
        console.log('updating progress: ' + lastUpdateElement.text());
    }


    // Auto-update functionality
    const normalUpdateInterval = 5000;
    const slowUpdateInterval = 30000;
    let autoUpdateCheckboxValue = true;
    let autoUpdateActiveOverride = autoUpdateCheckboxValue;
    let updateInterval;

    function startUpdateInterval(interval) {
        clearInterval(updateInterval);
        updateInterval = setInterval(updateProgress, interval);
    }

    function stopUpdateInterval() {
        clearInterval(updateInterval);
    }

    function setAutoUpdateActive(value) {
        autoUpdateActiveOverride = value;
        console.log("autoUpdateActive: " + autoUpdateActiveOverride);

        if (autoUpdateActiveOverride) {
            // Checkbox is checked, start auto-update
            startUpdateInterval(normalUpdateInterval);
        } else {
            // Checkbox is unchecked, stop auto-update
            stopUpdateInterval();
        }
    }

    function reloadAutoUpdateActiveFromCheckbox() {
        setAutoUpdateActive(autoUpdateCheckboxValue);
    }

    $(document).ready(function () {


        $("#update-button").click(updateProgress);
        $("#add-service").click(add_service);


        // Initial update and fast interval
        updateProgress();
        startUpdateInterval(normalUpdateInterval);

        $('#editForm').submit(function (event) {
            event.preventDefault();

            var form = $(this);
            var url = form.attr('action');
            var type = form.attr('method');

            $.ajax({
                type: type,
                url: url,
                data: form.serialize(),
                success: function (data) {
                    $('#editIdStringModal').modal('hide');
                    updateProgress();
                },
                error: function (error) {
                    console.error("Error editing:", error);
                }
            });
        })


        // Toggle auto-update
        $("#auto-update-toggle").change(function () {
            autoUpdateCheckboxValue = this.checked;
            reloadAutoUpdateActiveFromCheckbox();
        });
        autoUpdateCheckboxValue = $("#auto-update-toggle").is(":checked");
        $('#editIdStringModal').on('hidden.bs.modal', function () {
            reloadAutoUpdateActiveFromCheckbox();
        });

        // Detect visibility changes (adjust interval when tab is hidden)
        document.addEventListener("visibilitychange", function () {
            if (autoUpdateActiveOverride) {
                if (document.visibilityState === "visible") {
                    startUpdateInterval(normalUpdateInterval);
                } else {
                    startUpdateInterval(slowUpdateInterval);
                }
            }
        });
    });
</script>
</body>
</html>